build/*
TeamCode/build/*
FtcRobotController/*
.idea/*
.gradle/
RelicRecovery.iml
TeamCode/src/.DS_Store
TeamCode/src/main/.DS_Store
TeamCode/src/main/java/.DS_Store
TeamCode/src/main/java/org/.DS_Store
TeamCode/src/main/java/org/firstinspires/.DS_Store
TeamCode/src/main/java/org/firstinspires/ftc/.DS_Store
TeamCode/.DS_Store
doc/.DS_Store
